@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}


/* Shared style */
.btn{
    color: #FFF;
    padding: 20px 40px;
    border-radius: 50px;  
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase; 
    border: none;
    cursor: pointer;
}




/* Header Section Start */

header{
    margin: 0 auto;
}
/* nav start */
header nav{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0 240px;
}

.left-side, .right-side{
    display: flex;
    align-items: center;
    gap: 28px;
}
.left-side img{
    height: 40%;
    width: 40%;

}
.left-side h2{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.left-side span{
    color: #FE3EA2;
}

.right-side li{
    list-style: none;

}
.right-side li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.right-side li a .space{
    margin: 0 10px;
}

.follow{
    width: 180px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 15px;
}
/* nav end */


/* Banner Start */
.banner-container{
    padding: 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/Group\ 14.png');
    background-position: left;
    background-repeat: no-repeat;
}

.left-banner{
    width: 50%;

}
.left-banner h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.left-banner h1{
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: #F948B2;
    margin: 15px 0;
}
.left-banner p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.left-banner .icon-center{
    display: flex;
    gap: 10px;
    align-items: center;
}
.two-btn{
    padding-top: 25px;
}
.left-banner .signin-btn{
    background: #FD40A3;
    margin-right: 15px;
}
.left-banner .go-btn{
    background: #4EC5F7;
}


.right-banner{
    width: 50%;
}
.right-banner img{
    width: 100%;
}

/* Banner End */

/* Header Section End */






/* play-section start */

.play-container{
    padding: 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.play-info{
    text-align: right;
 
}
.play-info h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.play-info h3 span{
    color: #F948B2;
}
.play-info p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.play-banner{
    position: relative;
 
}
.play-banner .child-banner {
    position: absolute;
    left: -140px;
    bottom: -65px;

}
.play-banner .parent-banner{
    width: 100%;
}

/* play-section End */


/* Games Section Start */
.games-container{
    max-width: 1440px;
    margin: 0 auto;
}

.games{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    padding: 30px;
}

.games li{
    list-style: none;
}
.games li a{
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 50px;
}
.games li a:hover{
    border: 2px solid #FD40A3;
    list-style: none;
    border-radius: 50px;
    transition: 0.5s;
}

.games li:hover small{
    color: #FD40A3;
    transition: 0.2s;
}


.games a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.games a small{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}




/* Games Section End */



/* Footer start */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0B0223;
    color: #FFF;
    padding: 100px 0;
    gap: 20px;
}
footer ul{
    display: flex;
    gap: 15px;
    align-items: center;
}
footer ul img{
    width: 100%;
    height: 100%;
}
footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
   color: #FFF;
}
footer small, footer ul li small a{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.social-icon {
 gap:25px

}

/* Footer End */







/* Responsive Section for Mobile  */

@media screen and (max-width:576px) {
    header nav{
        flex-direction: column;
        align-items: center;
        padding: 0 30px;

    }
    
    .right-side{
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .banner-container{
        padding: 0 10px;
        flex-direction: column-reverse;
        background:none;
    }
    .left-banner h1{
        font-size: 70px;
    }
    .left-banner{
        width: 100%;
        background-image: url('images/Group\ 14.png');
        background-position:1vw;
        background-repeat: no-repeat;
        padding:10px;
    }
    .right-banner{
        width: 100%;
    }
    .play-info{
        text-align: center;
        width: 100%;
    }

    .play-container{
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .play-banner{
        width: 80%;
    }
    .play-banner .child-banner{
        left: -45px;
        bottom: -35px;
        width: 155px;
    }
    .games{
        padding: 10px;
    }
    .games a small{
        font-size: 14px;
    }
    .games a img{
        width: 35px;
        height: 35px;
    }

    .footer-nav{
        flex-wrap: wrap;
    }
    footer ul{
        padding: 8px;
    }
    
}

/* Responsive Section for Tab  */


@media screen and (min-width:576px) and (max-width:992px) {
    header nav{
        flex-direction: column;
        align-items: center;
    }
    
    /* .right-side{
        flex-direction: column;
        gap: 30px;
    } */

    .banner-container{
        padding: 0 10px;
        flex-direction: column-reverse;
        background:none;
    }
    .left-banner{
        width: 100%;
        background-image: url('images/Group\ 14.png');
        background-position:1vw;
        background-repeat: no-repeat;
        padding:10px;
    }
    .right-banner{
        width: 100%;
    }
    .play-info{
        text-align: center;
        width: 100%;
    }

    .play-container{
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .play-banner{
        width: 80%;
    }
    .play-banner .child-banner{
        left: -60px;
        bottom: -42px;
        width: 300px;
    }

    
}